* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

.list_style a {
  text-decoration: none;
}
.container div {
  color: #0FBF5B;
}
.container {
  width: 100vw;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #1F201F;
}
div img {
  width: 100px;
  height: 28px;

}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin : 10px;
}

.list_style {
  list-style: none;
  text-decoration: none;
}

.left {
  width: 150px;
  height: 70px;
  padding: 15px;
  margin: 10px;
  border: 5px solid white;
  border-radius: 10px;

  background: #25B36B;

}

.right {
  width: 70%;
  height: 70px;
  padding: 10px;
  margin: 10px;
  border: 5px solid white;
  border-radius: 10px;


}
.hamburger_icona {
  display: none;
  width: 45px;
  height: 48px;
  padding: 10px;
  margin: 10px;
  border: 5px solid white;
  border-radius: 10px;

}

.burger_menu {
  display: none;
  width: 40%;
  height: 60%;
  position: absolute;
  top: 120px;
  right: 0;
  padding: 15px;
  background: #1F201F;
  border: 5px solid white;
  border-radius: 10px;
  font-size: 25px;
}
.burger_menu li {

  padding: 5px;

}
.burger_menu div {
  position: absolute;
  right: 25px;
}

@media screen and (max-width: 800px)
{
  .right {
    display: none;
  }
  .hamburger_icona {
    display: inline-block;
    width: 45px;
    height: 48px;
    padding: 10px;
    margin: 10px;
    border: 5px solid white;
    border-radius: 10px;

  }
}



.burger_menu.active {
  display: block;
}
